REACT_APP_API_BASE=http://localhost:5000/api
REACT_APP_EMAILJS_SERVICE_ID=your_service_id
REACT_APP_EMAILJS_TEMPLATE_ID=your_customer_template_id
REACT_APP_EMAILJS_ADMIN_TEMPLATE_ID=your_admin_template_id
REACT_APP_EMAILJS_PUBLIC_KEY=your_public_key
REACT_APP_EMAILJS_SERVICE_ID=your_service_id
REACT_APP_EMAILJS_TEMPLATE_ID=your_customer_template_id
REACT_APP_EMAILJS_ADMIN_TEMPLATE_ID=your_admin_template_id
REACT_APP_EMAILJS_PUBLIC_KEY=your_public_key
